{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.eslint.json"
  },
  "plugins": [
    "@typescript-eslint",
    "prettier"
  ],
  "extends": [
    "plugin:@shopify/esnext",
    "plugin:@shopify/node",
    "prettier"
  ],
  "rules": {
    "no-console": "error",
    "prettier/prettier": "error"
  }
}
